<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <div class="flex flex-col justify-center w-full h-screen max-w-lg m-auto">
    <div class="flex items-center justify-between mb-3">
      <p class="font-semibold text-2xl">{{.Title}}</p>
      {{ if eq .Title "Session Details" }}
      <a class="appearance-none inline-block align-center font-bold text-blue-500 hover:text-blue-800" href="/logout">
        Logout
      </a>
      {{ else if ne .Title "Login" }}
      <a class="group appearance-none inline-flex align-self-center font-semibold text-xl text-blue-500 hover:text-blue-800" href="/login">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-1.5 inline-flex align-self-center h-4 w-4 text-blue-500 group-hover:text-blue-800" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
          </svg>
        </span>
        Back
      </a>
      {{ end }}
    </div>
    {{ if .Details }}
    <code style="height: 36rem" class="px-2 py-3 appearance-none block bg-gray-700 text-white rounded whitespace-pre overflow-auto text-sm">{{.Details}}</code>
    {{ end }}
    {{ if eq .Title "Registration Complete" }}<p class="font-semibold my-3 leading-tight tracking-wide">We have sent a verification mail to you. Please check.</p>{{ end }}
    {{ if eq .Title "Verification Complete" }}
    <p class="font-semibold my-3 leading-tight tracking-wide">
      Thank you for verifying your email address.
      <span><a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/login">Click here to login</a></span>
    </p>
    {{ end }}
    {{if .UI}}
    <div class="border shadow appearance-none bg-white rounded px-7 py-3">
      <form action={{.UI.Action}} method={{.UI.Method}} class="space-y-6">
          {{ if .UI.Messages }}{{ range .UI.Messages }}<div class="{{ if eq .Type "error"}}bg-red-500{{ else }}bg-green-500{{ end }} text-white rounded px-4 py-3 text-sm">{{.Text}}</div>{{ end }}{{ end }}
          {{ range .UI.Nodes }}
          {{ if eq .Attributes.UiNodeInputAttributes.Type "submit" }}
          <div class="flex flex-wrap items-center justify-between">
            <button 
              class="w-full bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="{{.Attributes.UiNodeInputAttributes.Type}}"
              name="{{.Attributes.UiNodeInputAttributes.Name}}"
              value="{{.Attributes.UiNodeInputAttributes.Value}}">
              {{.Meta.Label.Text}}
            </button>
          </div>
          {{ else }}
          <div {{ if eq .Attributes.UiNodeInputAttributes.Type "hidden" }}class="-mb-2"{{ end }}>
            {{ if .Meta.Label }}
            <label 
              for={{.Attributes.UiNodeInputAttributes.Name}} 
              class="block text-gray-700 text-sm font-semibold mb-0.5">
              {{.Meta.Label.Text}}
            </label>
            {{ end }}
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              {{ if .Attributes.UiNodeInputAttributes.Disabled }}disabled{{ end }}
              {{ if .Attributes.UiNodeInputAttributes.Required }}required{{ end }}
              type={{.Attributes.UiNodeInputAttributes.Type}}
              {{ if .Meta.Label }}placeholder="Enter {{.Meta.Label.Text}}"{{ end }}
              name={{.Attributes.UiNodeInputAttributes.Name}}
              value={{.Attributes.UiNodeInputAttributes.Value}}>
            {{ if .Messages }}{{ range .Messages}}<div class="text-red-600 text-xs mb-2">{{.Text}}</div>{{ end }}{{ end }}
          </div>
          {{ end }}
          {{ end }}
      </form>
      {{ end }}
      {{ if eq .Title "Login" }}
      <div class="flex items-center justify-between mt-3.5 mb-1">
        <a class="appearance-none inline-block align-center font-bold text-blue-500 hover:text-blue-800" href="/registration">
          Register
        </a>
        <a class="appearance-none inline-block align-center font-bold text-blue-500 hover:text-blue-800" href="/recovery">
          Forgot Password?
        </a>
        <a class="appearance-none inline-block align-center font-bold text-blue-500 hover:text-blue-800" href="/verification">
          Resend Verification Email
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</body>

</html>
